@{
    ViewData["Title"] = "Home Page";
}
@model List<JaneFastLane.Models.Table>
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Ресторант<br>Jane Fast Lane!</h2>
                <p data-aos="fade-up" data-aos-delay="100">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#book-a-table" class="btn-book-a-table">Book a Table</a>
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="~/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section>

<section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">


            <div class="col-lg-8 d-flex align-items-center">
                <div class="row gy-4">

                    @if (User.IsInRole("Customer"))
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="fa-solid fa-utensils"></i>
                                    <h4>Маса номер №@item.Number (@item.Characteristics)</h4>
                                    <p>Заети места @item.SeatsTaken/@item.Capacity</p>
                                    <p>Отговорен сервитьор: @item.Waiter.UserName</p>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>

        </div>

    </div>
</section>
