@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<section class="menu">
    <div class="row text-center">
        <h1 style="color:green">Успешно направихте своята поръчка!</h1>
        <a class="btn btn-primary" href="/">Обратно към началото</a>
        <a class="btn btn-primary" href="/Customer/Orders">Преглед на направените поръчки</a>
        </div>
    </section>
